<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Events Website</title>
  </head>
  <body>
    <header>
      <div>This is the page</div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/ministries/">Ministries</a></li>
        </ul>
      </nav>
      <h1>Welcome to Our Events Website</h1>
    </header>

    <section>
      {% include 'about.html' %}
    </section>

    <section>
      {% include 'service.html' %}
    </section>

    <section>
      {% include 'events.html' %}
    </section>
  </body>
</html>
