<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Events Website</title>
  </head>
  <body>
    <header>
      <div>This is the page</div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/ministries/">Ministries</a></li>
        </ul>
      </nav>
      <h1>Welcome to Our Events Website</h1>
    </header>

    <section>

    {% include 'about.html' %}

    <section>
      <h2>Next Service</h2>
      <div>
        <h3>Name: {{ next-service.name }}</h3>
        <p>Date: {{ next_service.date }}</p>
        <p>Start Time: {{ next_service.start_time }}</p>
        <p><a href="{{ next_service.music_link }}">Music</a></p>
        <p><a href="{{ next_service.order_link }}">Order of Service</a></p>
      </div>
    </section>

    <section>
      <h2>Upcoming Events</h2>
      {% for event in collections.events %}
      <div>
        <h3>{{ event.data.name }}</h3>
        <p>Date: {{ event.data.date }}</p>
        <p>Time: {{ event.data.start_time }} - {{ event.data.end_time }}</p>
        <p>{{ event.data.description }}</p>
        <img src="{{ event.data.image }}" alt="{{ event.data.name }}" />
      </div>
      {% endfor %}
    </section>
  </body>
</html>
